<html>
	<head>
		<title>Django Tutorial Blog</title>
	</head>
	<body>
		<div>
			<h1><a href="/">Django Tutorial Blog</a></h1>
		</div>

		<div>
			<p>Published: 14.06.2014, 12.14</p>
			<h2><a href="">My First post</a></h2>
			<p>Aenann jodsfjkaslf.j l. Pldjalk hfaslk  safdsasdfads sdafd asfakadf asdfdsafasdfasdfasdf dfwfawegtagdsvcwerf dsafwfsa asdf</p>
		</div>
		<div>
			<p>Published: 15.06.2014, 12.14</p>
			<h2><a href="">My Second post</a></h2>
			<p>Benann jodsfjkaslf.j l. Pldjalk hfaslk  safdsasdfads sdafd asfakadf asdfdsafasdfasdfasdf dfwfawegtagdsvcwerf dsafwfsa asdf</p>
		</div
	</body>
</html>	
